*{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

:root{
    --main-color: #EF233C;
    --background-color: #2B2D42;
    --font-color: #EDF2F4;
    --special-button-color: black;
    --button-border-color: #EF233C;
    --button-padding: 0.6em 1.2em;
}

.biggerFont{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--font-color);
}

.bigFont{
    font-size: 2.25rem;
    font-weight: bolder;
    color: var(--font-color);
}

.smallFont{
    font-size: 1.025rem;
    font-weight: bold;
}

.button{
    background-color: black;
    padding: var(--button-padding);
    border-radius: 1em;
    color: var(--font-color);
}

.divLine{
    padding: 1px 50%;
    margin-top: 10em;
    background-color: var(--main-color);
}

/*NavBar Section*/

header{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}

nav{
    background-color: var(--main-color);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.navUl{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin: 0em 1em;
}

.item{
    padding: var(--button-padding);
    border: 1px solid var(--main-color);
}

.item:hover{
    border: 1px solid var(--button-border-color);
    padding: var(--button-padding);
    border-radius: 1em;
    box-shadow: 0em 0em 0.5em black;
}

#indexLogIn{
    background-color: var(--special-button-color);
    border-radius: 1em;
}

/* End navBar Section*/

/* Register Section */

.registerSection{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom,rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),url("/assets/banner-bg.jpg");
    background-size: 100%;
}

.registerSection img{
    position: absolute;
}

.registerSection h1{
    width: 40%;
    padding: 0.5em;
}

.registerSection div{
    margin: 2em 0em;
}

/* End of register Section */

/* Search Section */

.searchSection{
    padding: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.searchSection h1{
    margin: 1em 0em;
}

.searchSection div{
    display: inline-block;
    animation: fade-in linear, translateBotTop 5s;
    animation-timeline: view();
    animation-range-end: 25em;
}

.movieFinder{
    display: flex;
    flex-direction: row;
}

.searchInput{
    width: 39em;
    height: 2.5em;
    border-radius: 1em;
    border: 1px solid;
    margin: 0em 0.5em;
    text-align: start;
    padding-left: 1em;
}

.button.smallFont{
    color: var(--font-color);
}

/* End of search section */

/* Movies section */

.movieSection{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movieSection h1{
    margin: 1em 0em;
}

#movies{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#movies button{
    color: white;
}

.movieItem{
    margin: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.movieImgRounded{
    width: 10em;
    height: 15em;
    object-fit: cover;
    border-radius: 1em;
}

.movieTitle{
    position: absolute;
    background: #16161696;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    backdrop-filter: blur(5px);
    border-radius: 1em;
    opacity: 0;
    scale: 1;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.movieItem:hover .movieTitle{
    opacity: 1;
}

.movieItem:hover{
    scale: 0.9;
}

/* End of movies section */

/* Best Movies section */

.bestMoviesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bestMovies{
    width: 75%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 6em);
    gap: 1em;
    overflow: hidden;
    scroll-behavior: smooth;
}

#bestMovies .noTransition{
    scroll-behavior: auto;
}

.dragging .img{
    cursor: grab;
    user-select: none;
}

#bestMovies .movieTitle{
    display: none;
}

.arrowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: 0em 2em 0em 2em;
}
.arrowContainer:hover{
    background-color: var(--font-color);
}
.arrowContainer:active{
    transform: translateY(2px);
}

.arrow{
    border: solid var(--special-button-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right{
    transform: rotate(-45deg);
}

.left{
    transform: rotate(135deg);
}

/* End of Best Movies section */

/* Start of footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--main-color);
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of footer */

/* Animations */

@keyframes fade-in{
    from{transform:translate(0% 100%);filter: brightness(0%); opacity: 0};
    to{transform:translate(0%);filter: brightness(100%); opacity: 1;};
}

@keyframes translateBotTop{
    from{transform: translateY(100%)};
    to{transform:translate(0%)};
}

/* End of animations */

a{
    color: var(--font-color);
    text-decoration: none;
}

p{
    text-align: start;
    margin: 2px 2px 2px 0px;
}


.container{
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logInSection{
    width: 35vw;
    height: 90vh;
    background-color: #303030;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formInput{
    margin: 10px;
    width: 80%;
    height: 5%;
}

.formInput input{
    width: 90%;
    height: 100%;
    background-color: #3a3a3a;
    border-radius: 30px;
    border: 2px solid #ff6961;
    outline: none;
    text-align: start;
    padding-left: 15px;
}

.formSelect{
    appearance: none;
    background-color: transparent;
    border: none;
    width: 95%;
    height: 90%;
    outline: none;
    border: 1px solid #ff6961;
    border-radius: 30px;
    cursor: pointer;
    background-color: #f7f7f7;
    text-align-last: left;
    padding-left: 15px;
}

.formButton{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.formButton button{
    height: 45px;
    border-radius: 15px;
    margin: 5px;
    background-color: #ff6961;
    border: none;
}

.formButton button:hover{
    transform: translateY(-1px);
    background-color: #ff9994;
}

#singUpButton{
    background: none;
    border: 1px solid #ff6961;
    width: 95%;
}

#singUpButton:hover{
    transform: translateY(-1px);
    background-color: #ff9994;
}